:root {
	--yelow: #f4d04e;
	--white: #ffffff;
	--black: #111111;
	--gray: #808080;
    --normal-font-size: 14px;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 500;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yelow);
	width: 100vw;
	height: 100vh;
}
.container-card {
    display: flex;
	flex-direction: column;
	gap: 24px;
	background-color: var(--white);
	width: 384px;
	height: 522px;
	border: 1px var(--black) solid;
	border-radius: 20px;
	padding: 24px;
    padding-bottom: 0;
	box-shadow: 8px 8px;
}
.container-card:hover {
    box-shadow: 16px 16px;
    cursor: pointer;
    transform: translate(0, -1px);
}
.container-card:hover .content h2 {
    color: var(--yelow);
}
.container-card img {
	border-radius: 10px;
}
.content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.content p.publish-date {
    font-size: var(--normal-font-size);
}
.content .category {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	width: 82px;
	height: 29px;
	background-color: var(--yelow);
	font-weight: 800;
    font-size: var(--normal-font-size);
    padding: 4px 12px ;
}
.content h2 {
	font-weight: 800;
}
.content p.description {
	color: var(--gray);
    line-height: 24px;
}
.author {
	display: flex;
	align-items: center;
	gap: 12px;
}
.author p {
    font-weight: 800;
    font-size: var(--normal-font-size);
}
@media screen and (max-width: 375px) {
    .article {
        height: 200px;
        width: 279px;
        overflow: hidden;
        border-radius: 10px;
    }
    .container-card .article img {
        max-height: 100%;
    }
    .container-card {
        width: 327px;
        height: 501px;
    }
    .content .category,
    .content p.publish-date {
        font-size: calc(var(--normal-font-size) - 2px);
    } 
    .content p.description {
        font-size: var(--normal-font-size);
    }
    .content h2 {
        font-size: 20px;
    }
}